<div ng-controller="RunController">
  <h2 id="page-title">Runs</h2>

  <div class="pagination" ng-show="runs">
    <div class="pagination-status">Page {{ currentPage }} of {{ totalPages }}</div>
    <div class="pagination-control">
      <div class="previous" ng-show="currentPage > 1"><a href="" ng-click="prev()" >previous</a></div>
      <div class="next" ng-show="currentPage != totalPages"><a href="" ng-click="next()" >next</a></div>
    </div>
  </div>

  <ul class="runs-list">
    <li ng-repeat="run in runs" class="run-item">
    <div class="name" ><a href="#/runs/{{ run.id }}">{{ run.id }}</a></div>
    <div class="success-wrapper">
      <div class="run-success-percentage">{{ run.success_percentage }}%</div>
      <div class="text">success rate</div>
    </div>
    <div class="results">
      <div class="results-column right">
        <div class="run-passes">{{ run.passes }}</div>
        <div class="run-fails">{{ run.fails }}</div>
        <div class="run-skips">{{ run.skips }}</div>
      </div>
      <div class="results-column left">
        <div>passes</div>
        <div>fails</div>
        <div>skips</div>
      </div>
    </li>
  </ul>
  <div class="pagination-control">
    <div class="previous" ng-show="currentPage > 1"><a href="" ng-click="prev()" >previous</a></div>
    <div class="next" ng-show="currentPage != totalPages"><a href="" ng-click="next()" >next</a></div>
  </div>
</div>
